/*CSS Reset*/
body, header, nav, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Theme Colors */
body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #424242;
    --h1-border-color: #424242;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: ##48abe0;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #fff;
    --btn-background-color: #48abe0;
    --btn-color: #303030;
    --btn-hover-background-color: #48abe0;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
    --table-header-background-color: #48abe0;
    --table-header-color: #fff;
    --table-row-color: #fff;
    --table-border-color: #303030;
    --table-hover-background-color: #48abe0;
    --table-hover-color: #fff;
    --container-border-color: #48abe0;
}

/* Font Styling */
* {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

p {
    font-size: large;
}

body {
    color: var(--text-color);
    background: var(--background-color);
    padding-top: 100px;
}

/* Links */
a {
    color: var(--anchor-color);
    text-decoration: none;
}

a:hover {
    color: var(--anchor-hover-color);
    background-color: var(--anchor-hover-background-color);
    border-radius: 2px;
}

/* Headers */
h1 {
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    border: 1px var(--h1-border-color);
    padding: 10px;
}

h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    border: 1px solid var(--heading-border-color);
}

h4 {
    margin: 10px auto;
    width: 45%;
}

.resume-content .card-content h3 {
    width: 70%;
    margin: auto auto;
}

li {
    list-style-type: none;
}


/* Content Containers */
.card {
    color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color);
    font-weight: 400;
}

.card-content {
    padding: 10px 10px;
    color: var(--text-color);
    text-align: center;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 0 50px var(--table-header-background-color);
    background-color: #303030;
    opacity: 90%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.bio-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px
}


#resume-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #424242;
}

/* Form Elements */
.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px;
    color: black;
}

.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}

.btn-primary:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}

/* Images */
img {
    max-width: 100%;
}

/* Header Elements */
.header {
    display: inline-flex;
    max-height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--h1-background-color);
    position: fixed;
    top: 0;
    z-index: 1;
}


nav {
    width: 55%;
    display: inline-block;
}

nav li {
    display: inline;
    padding: 10px;
}

/* Footer Elements */
footer {
    text-align: center;
    padding: 30px; 
    display: block;
}